.project
.sublimelinterrc
.externalToolBuilders
.gnupg
.settings
.includepath
.DS_Store
.vscode/*
*.swp
*.swo
*~
.bash*
!.bash_completion

Kernel/Config/Files/ZZZ*.pm
Kernel/Config.pm
var/log/*.log
var/log/Daemon/*.log
var/tmp/*
css-cache
js-cache
