# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("InfoBoxFAQMiniList") %]
<table class="DataTable">
    <tbody>
[% RenderBlockStart("InfoBoxFAQMiniListItemRow") %]
        <tr>
            <td>
                <a href="[% Env("Baselink") %]Action=AgentFAQZoom;ItemID=[% Data.ItemID | uri %]" class="AsBlock" title="[% Data.Title | html %] ([% Data.CategoryName | html %])">
                    [% Data.Title | truncate(50) | html %]
                </a>
                <span>
                    [% Data.CategoryShortName | html %] - [% Data.Changed | Localize("TimeShort") %]
                </span>
            </td>
        </tr>
[% RenderBlockEnd("InfoBoxFAQMiniListItemRow") %]
    </tbody>
</table>
[% RenderBlockEnd("InfoBoxFAQMiniList") %]
