# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain">
    <div class="ClearLeft"></div>
    <div class="Headline">
        <div class="Flag" title="[% Translate(Data.CurInciState) | html %]">
            <span class="[% Data.CurInciSignal | html %]"></span>
        </div>
        <h1 title="[% Translate("Service") | html %]: [% Data.Name | html %]">
            [% Translate("Service") | html %]: [% Data.Name | html %]
        </h1>
    </div>
    <div class="LayoutFixedSidebar SidebarLast">
        <div class="SidebarColumn">
            <div class="WidgetSimple">
                <div class="Header">
                    <div class="WidgetAction Toggle">
                        <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                    </div>
                    <h2>[% Translate("Service Information") | html %]</h2>
                </div>
                <div class="Content">
                    <fieldset class="TableLike FixedLabelSmall Tight">

                        <label>[% Translate("Current incident state") | html %]:</label>
                        <div class="Value">
                            <div class="Flag Small">
                                <span class="[% Data.CurInciSignal | html %]"></span>
                            </div>
                            [% Translate(Data.CurInciState) | html %]
                        </div>
                        <div class="Clear"></div>

                        <label>[% Translate("Created") | html %]:</label>
                        <p class="Value">[% Data.CreateTime | Localize("TimeLong") %]</p>
                        <div class="Clear"></div>

                        <label>[% Translate("Created by") | html %]:</label>
                        <p class="Value">
                            [% Data.CreateByName | html %]
                        </p>
                        <div class="Clear"></div>

                        <label>[% Translate("Last changed") | html %]:</label>
                        <p class="Value">
                            [% Data.ChangeTime | Localize("TimeLong") %]
                        </p>
                        <div class="Clear"></div>

                        <label>[% Translate("Last changed by") | html %]:</label>
                        <p class="Value">
                            [% Data.ChangeByName | html %]
                        </p>
                        <div class="Clear"></div>
                    </fieldset>
                </div>
            </div>

[% RenderBlockStart("LinkTableSimple") %]
            <div class="WidgetSimple DontPrint">
                <div class="Header">
                    <h2>[% Translate("Linked Objects") | html %]</h2>
                </div>
                <div class="Content">
                    [% Data.LinkTableStrg %]
                </div>
            </div>
[% RenderBlockEnd("LinkTableSimple") %]
        </div>

        <div class="ContentColumn">
            <div class="ControlRow">
            </div>
            <div class="ActionRow">
                <ul class="Actions">
[% RenderBlockStart("MenuItem") %]
                    <li>
                        <a href="[% Env("Baselink") %][% Data.Link | Interpolate %]" class="[% Data.MenuClass | html %]" title="[% Translate(Data.Description) | html %]">[% Translate(Data.Name) | html %]</a>
                    </li>
[% RenderBlockEnd("MenuItem") %]
                </ul>
                <div class="Clear"></div>
            </div>

            <div class="WidgetBox SpacingTop Expanded">
                <div class="LightRow Header">
                    <div class="WidgetAction Toggle"><a href="#" title="[% Translate("Show or hide the content.") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a></div>
                    <h2>[% Translate("Service") | html %]: [% Data.Name | html %]</h2>
                </div>
                <div class="Content AutoHeight">
                    <fieldset class="TableLike FixedLabelSmall">
                        <label title="[% Translate("Type") | html %]">[% Translate("Type") | html %]: </label>
                        <div class="Field">
                            [% Translate(Data.Type) | html %]
                        </div>
                        <div class="Clear"></div>

                        <label>[% Translate("Criticality") | html %]: </label>
                        <div class="Field">
                            [% Translate(Data.Criticality) | html %]
                        </div>
                        <div class="Clear"></div>

                        <label title="[% Translate("Comment") | html %]">[% Translate("Comment") | html %]: </label>
                        <div class="Field">
                            [% Translate(Data.Comment) | html %]
                        </div>
                        <div class="Clear"></div>

                    </fieldset>
                </div>
            </div>

[% RenderBlockStart("SLA") %]
            <div class="WidgetSimple DontPrint SpacingTop  SpacingBottomMedium">
                <div class="Header">
                    <div class="WidgetAction Toggle">
                        <a href="#" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i><i class="fa fa-caret-down"></i></a>
                    </div>
                    <h2>[% Translate("Associated SLAs") | html %]</h2>
                </div>
                <div class="Content">
                    <table class="DataTable">
                        <thead>
                            <tr>
                                <th>[% Translate("SLA") | html %]</th>
                                <th>[% Translate("Comment") | html %]</th>
                                <th>[% Translate("Type") | html %]</th>
                                <th>[% Translate("Changed") | html %]</th>
                            </tr>
                        </thead>
                        <tbody>
[% RenderBlockStart("SLARow") %]
                            <tr>
                                <td>
                                    <a class="AsBlock" href="[% Env("Baselink") %]Action=AgentITSMSLAZoom;SLAID=[% Data.SLAID | uri %]">
                                        [% Data.Name | html %]
                                    </a>
                                </td>
                                <td title="[% Data.Comment | html %]">[% Data.Comment | truncate(100) | html %]</td>
                                <td>[% Translate(Data.Type) | html %]</td>
                                <td>[% Data.ChangeTime | Localize("TimeLong") %]</td>
                            </tr>
[% RenderBlockEnd("SLARow") %]
                        </tbody>
                    </table>

                </div>
            </div>
[% RenderBlockEnd("SLA") %]

[% RenderBlockStart("LinkTableComplex") %]
            <div class="Content">
                [% Data.LinkTableStrg %]
            </div>
[% RenderBlockEnd("LinkTableComplex") %]

        </div>
        <div class="Clear"></div>
    </div>
</div>

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[

    $('ul.Actions a.AsPopup').bind('click', function (Event) {
        Core.UI.Popup.OpenPopup($(this).attr('href'), 'Action');
        return false;
    });

    $('ul.Actions a.HistoryBack').bind('click', function (Event) {
        history.back();
        return false;
    });
//]]></script>
[% END %]
