# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --
<div style='width: 20%; margin-left: 1100px ! important;'>
<a href="/otrs/index.pl?Action=AgentTicketPhone&type=Incident&name=qucickIncident"
style='display:inline-block;color: #fff! important;
	background-color: #337ab7! important;
	border-color: #2e6da4! important;
	padding: 6px 12px! important;
	margin-bottom: 0! important;
	font-size: 14px! important;
	font-weight: 400! important;
	line-height: 1.42857143! important;
	text-align: center! important;
	white-space: nowrap! important;
	text-decoration:none! important;
	background-image: none! important;
	border: 1px solid transparent! important;
	border-radius: 4px! important;'

	>Quick Incident</a>

<a href="/otrs/index.pl?Action=AgentTicketPhone&type=Incident" 

style='display:inline-block;color: #fff! important;
	background-color: #337ab7! important;
	border-color: #2e6da4! important;
	padding: 6px 12px! important;
	margin-bottom: 0! important;
	font-size: 14px! important;
	font-weight: 400! important;
	line-height: 1.42857143! important;
	text-align: center! important;
	white-space: nowrap! important;
	text-decoration:none! important;
	background-image: none! important;
	border: 1px solid transparent! important;
	border-radius: 4px! important;' 
	>New Incident</a>
</div>
<div class="WidgetSimple QueueOverview">
    <div class="Content">

<h1> incident page </h1>

        [% Data.MainContent %]
    </div>
    <div class="Clear"></div>
</div>
<div class="QueueOverviewSeparator"></div>
