# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="LayoutPopup ARIARoleMain">

    <div class="Header">
        <h1>
            [% Translate("History of") | html %] [% Config("ITSMChange::Hook") %]: [% Data.ChangeNumber | html %] - [% Data.ChangeTitle | truncate(60) | html %]
        </h1>
        <p>
            <a href="#" class="CancelClosePopup">[% Translate("Cancel & close") | html %]</a>
        </p>
    </div>

    <div class="Content">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>
                    [% Translate("History Content") | html %]
                </h2>
            </div>
            <div class="Content">
                <table class="DataTable">
                    <thead>
                        <tr>
                            <th>[% Translate("Action") | html %]</th>
                            <th>[% Translate("Comment") | html %]</th>
                            <th>[% Translate("Details") | html %]</th>
                            <th>[% Translate("Workorder") | html %]</th>
                            <th>[% Translate("User") | html %]</th>
                            <th>[% Translate("Createtime") | html %]</th>
                        </tr>
                    </thead>
                    <tbody>

[% RenderBlockStart("Row") %]
                        <tr>
                            <td>
                                [% Data.HistoryType | html %]
                            </td>
                            <td title="[% Data.Content | html %]">
                                [% Data.Content | truncate(100) | html %]
                            </td>
                            <td>
[% RenderBlockStart("NoHistoryZoom") %]
                                -
[% RenderBlockEnd("NoHistoryZoom") %]
[% RenderBlockStart("ShowHistoryZoom") %]
                                <a class="AsBlock" href="[% Env("Baselink") %]Action=AgentITSM[% Data.ZoomType %]HistoryZoom;HistoryEntryID=[% Data.HistoryEntryID | uri %]">[% Translate("Show details") | html %]</a>
[% RenderBlockEnd("ShowHistoryZoom") %]
                            </td>
                            <td>
[% RenderBlockStart("NoWorkOrderZoom") %]
                                -
[% RenderBlockEnd("NoWorkOrderZoom") %]
[% RenderBlockStart("ShowWorkOrderZoom") %]
                                <a class="AsBlock" href="[% Env("Baselink") %]Action=AgentITSMWorkOrderZoom;WorkOrderID=[% Data.WorkOrderID | uri %]">[% Translate("Show workorder") | html %]</a>
[% RenderBlockEnd("ShowWorkOrderZoom") %]
                            </td>
                            <td>
                                [% Data.UserLogin | truncate(25) | html %] ([% Data.UserFirstname | html %] [% Data.UserLastname | html %])
                            </td>
                            <td>
                                [% Data.CreateTime | Localize("TimeLong") %]
                            </td>
                        </tr>
[% RenderBlockEnd("Row") %]

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="Footer">
    </div>
</div>
