# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("Overview") %]
<div class="MainBox AriaRoleMain SpacingTop">
    <div class="W75pc SpacingBottom CenterBox">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Overview") | html %]: [% Translate("SLA") | html %]</h2>
            </div>
            <div class="Content SpacingBottom">
                <table class="DataTable SpacingTop">
                    <thead>
                        <tr>
                            <th>[% Translate("SLA") | html %]</th>
                            <th>[% Translate("Comment") | html %]</th>
                            <th>[% Translate("Type") | html %]</th>
                            <th>[% Translate("Changed") | html %]</th>
                        </tr>
                    </thead>
                    <tbody>
[% RenderBlockStart("OverviewRow") %]
                        <tr class="MasterAction">
                            <td>
                                <a class="MasterActionLink" href="[% Env("Baselink") %]Action=AgentITSMSLAZoom;SLAID=[% Data.SLAID | uri %]">
                                    [% Data.Name | html %]
                                </a>
                            </td>
                            <td title="[% Data.Comment | html %]">[% Data.Comment | truncate(100) | html %]</td>
                            <td>[% Translate(Data.Type) | html %]</td>
                            <td>[% Data.ChangeTime | Localize("TimeLong") %]</td>
                        </tr>
[% RenderBlockEnd("OverviewRow") %]
[% RenderBlockStart("NoDataFoundMsg") %]
                        <tr>
                            <td colspan="3">
                                [% Translate("No data found.") | html %]
                            </td>
                        </tr>
[% RenderBlockEnd("NoDataFoundMsg") %]
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
[% RenderBlockEnd("Overview") %]

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    $('.MasterAction').bind('click', function (Event) {
        var $MasterActionLink = $(this).find('.MasterActionLink');
        // only act if the link was not clicked directly
        if (Event.target !== $MasterActionLink.get(0)) {
            window.location = $MasterActionLink.attr('href');
            return false;
        }
    });
//]]></script>
[% END %]
