# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<form action="[% Env("CGIHandle") %]" method="post" name="compose" id="Compose" class="Validate PreventMultipleSubmits">
    <input type="hidden" name="Action"       value="[% Env("Action") %]">
    <input type="hidden" name="Subaction"    value="AddTemplate">
    <input type="hidden" name="ChangeID"     value="[% Data.ChangeID | html %]">

    <div class="LayoutPopup ARIARoleMain">
        <div class="Header">
            <h1>[% Translate("Save Change as Template") | html %]: [% Config("ITSMChange::Hook") %] [% Data.ChangeNumber %]: [% Data.ChangeTitle | html %]</h1>
            <p>
                <a href="#" class="CancelClosePopup">[% Translate("Cancel & close") | html %]</a>
            </p>
        </div>
        <div class="Content">

            <fieldset class="TableLike FixedLabel">
                <label for="TemplateName">[% Translate("Template Name") | html %]:</label>
                <div class="Field">
                    <input type="text" id="TemplateName" name="TemplateName" value="[% Data.TemplateName | html %]" class="W75pc Validate_Required [% Data.TemplateNameInvalid | html %]" />
                    <div id="TemplateNameError" class="TooltipErrorMessage" ><p>[% Translate("A template should have a name!") | html %]</p></div>
                    <div id="TemplateNameServerError" class="TooltipErrorMessage"><p>[% Translate("The template name is required.") | html %]</p></div>
                </div>
                <div class="Clear"></div>

                <label for="Comment">[% Translate("Comment") | html %]:</label>
                <div class="Field">
                    <input type="text" id="Comment" name="Comment" value="[% Data.Comment | html %]" class="W75pc" />
                </div>
                <div class="Clear"></div>

                <label for="StateReset">[% Translate("Reset States") | html %]:</label>
                <div class="Field">
                    [% Data.StateResetSelectionString %]
                </div>
                <div class="Clear"></div>

[% RenderBlockStart("OverwriteTemplate") %]
                <label for="OverwriteTemplate">[% Translate("Overwrite original template") | html %]:</label>
                <div class="Field">
                    [% Data.OverwriteTemplateSelectionString %]
                </div>
                <div class="Clear"></div>
[% RenderBlockEnd("OverwriteTemplate") %]

[% RenderBlockStart("DeleteChange") %]
                <label for="DeleteChange">[% Translate("Delete original change") | html %]:</label>
                <div class="Field">
                    [% Data.DeleteChangeSelectionString %]
                </div>
                <div class="Clear"></div>
[% RenderBlockEnd("DeleteChange") %]

                <label for="ValidID">[% Translate("Validity") | html %]:</label>
                <div class="Field">
                    [% Data.ValidSelectionString %]
                </div>
                <div class="Clear"></div>

            </fieldset>
        </div>
        <div class="Footer">
            <button class="Primary CallForAction" id="SubmitAddTemplate" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" name="AddTemplate" value="[% Translate("Submit") | html %]"><span><i class="fa fa-check-square-o"></i> [% Translate("Submit") | html %]</span></button>
        </div>
    </div>
</form>
